@import "./reset.css";
@import "./fonts.css";

.container {
  max-width: 1392px;
  margin: 0 auto;
  padding: 0 120px;
}

.navbar {
  position: absolute;
  top: 48px;
  width: 100%;
  z-index: 999;
}

.navbar__inner {
  max-width: 1200px;
  width: 100%;
  display: flex;
  position: relative;
}

.navbar__content {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar__burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar__burger img {
  max-width: 25px;
  width: 100%;
}

.navbar__menu-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar__menu-container.open {
  display: flex;
}

.navbar_left {
  max-height: 45px;
  height: 100%;
}

.navbar_right {
  display: flex;
  align-items: center;
  gap: 40px;
  max-height: 44px;
}

.navbar__menu {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
}

.navbar__menu li {
  display: inline;
}

.navbar__menu a {
  text-decoration: none;
  font-family: "SF Pro Display";
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.navbar__button {
  background: linear-gradient(0deg, #2a4c31, #2a4c31),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 32px;
  font-family: "SF Pro Display";
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  line-height: 20px;
}

.navbar__button:hover {
  background-color: #244622;
}

/* Add this to your CSS file */

@media (max-width: 985px) {
  .container {
    padding: 0 16px;
  }

  .navbar__content {
    flex-direction: row;
    align-items: center;
    padding: 15px 20px;
  }

  .navbar_left img{
    max-width: 150px;
    max-height: 37.63px;
    width: 100%;
    height: 100%;
  }

  .navbar_right {
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    max-height: 100%;
  }

  .navbar__menu {
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .navbar__button {
    display: none;
  }

  .navbar__menu-container {
    display: none;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
  }

  .navbar__menu-container.open {
    display: flex;
  }

  .navbar__menu {
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .navbar__burger {
    display: flex;
  }
}

.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.hero_inner {
  display: flex;
  align-items: start;
  color: white;
}

.hero__content {
  z-index: 1;
  margin: 324px 0 20px;
}

.hero_main_text {
  align-items: center;
  justify-content: left;
  max-width: 818px;
  width: 100%;
  z-index: 1;
  margin-bottom: 218px;
}

.hero_text_p {
  font-family: "SF Pro Display";
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}

.hero_text_h1 {
  font-family: "SF Pro Display";
  font-size: 72px;
  font-weight: 700;
  line-height: 93.6px;
}

.hero_textfull_p {
  font-family: "SF Pro Display";
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  max-width: 660px;
  width: 100%;
  margin-top: 20px;
}

.hero__experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 34px;
}

.hero__experience p {
  font-family: "SF Pro Display";
  font-size: 36px;
  font-weight: 500;
  line-height: 46.8px;
  text-align: left;
}

.hero__experience span {
  font-size: 2rem;
  font-weight: bold;
}

.hero_buttonpart {
  display: flex;
  justify-content: center;
  align-items: end;
  max-width: 222px;
  width: 100%;
  max-height: 44px;
  height: 100%;
}

.hero__button {
  background-color: transparent;
  color: white;
  padding: 12px 24px;
  font-family: "SF Pro Display";
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
  border-radius: 32px;
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid rgba(255, 253, 245, 1);
}

.hero__button img {
  width: 20px;
  height: 20px;
}

.hero__button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* CIRCLE */
.button-container {
  display: flex;
}

.outer-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 0.5px solid rgba(255, 253, 245, 0.17);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inner-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid rgba(255, 253, 245, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text {
  font-family: "SF Pro Display";
  font-size: 24px;
  font-weight: 500;
  line-height: 31.2px;
  color: white; /* Adjust text color as needed */
}

.dot {
  width: 8px;
  height: 8px;
  background: white; /* Adjust dot color as needed */
  border-radius: 50%;
  position: absolute;
  transition: top 0.1s linear, left 0.1s linear;
}

.projects {
  background-color: #fff;
}

.projects-inner {
  display: flex;
  flex-direction: column;
}

.projects__content {
  text-align: left;
}

.projects__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;

  margin: 150px 0 64px;
}

.projects__content h2 {
  font-family: "SF Pro Display";
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
}

.projects__content p {
  max-width: 590px;
  width: 100%;
  font-family: "SF Pro Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.project-display {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 40px;
}

.project-image {
  display: flex;
  max-width: 545px;
  max-height: 352px;
  width: 100%;
  height: 100%;
  margin-right: 20px;
  border-radius: 24px;
}

.projects-list {
  max-width: 591px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "SF Pro Display";
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.project-item {
  border-top: 1px solid rgba(185, 185, 185, 1);
  padding: 32px 0;
}

.project-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-family: "SF Pro Display";
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
}

/* CONSULTING */

.consulting-services {
  padding: 150px 0;
  background-color: #fff;
}

.consulting-text {
  display: flex;
  flex-direction: row;
  gap: 137px;
  margin-bottom: 40px;
}

.consulting-text h2 {
  max-width: 473px;
  width: 100%;
  font-family: "SF Pro Display";
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
  text-align: left;
}

.consulting-text p {
  max-width: 590px;
  width: 100%;
  font-family: "SF Pro Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.consulting-image img {
  max-width: 1200px;
  width: 100%;
  max-height: 562px;
  height: 100%;
  border-radius: 24px;
  margin-bottom: 40px;
}

.trusted-by {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 20px;
}

.trusted-by p {
  font-family: "SF Pro Display";
  font-size: 36px;
  font-weight: 500;
  line-height: 46.8px;
  text-align: left;
  max-width: 285px;
  width: 100%;
}

.logos {
  display: flex;
  overflow: hidden;
  position: relative;
  padding: 16.21px 0;
  max-width: 893.35px;
  width: 100%;
  max-height: 61.59px;
  height: 100%;
}

.logo-container {
  display: flex;
  animation: scroll 10s linear infinite;
  gap: 70px;
}

.logos img {
  max-width: 194px;
  width: 100%;
  max-height: 60px;
  height: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* SOLUTIONS */

.solutions {
  background-color: #ffffff;
  padding: 40px 0;
}

.solutions_inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.solutions__content {
  text-align: left;
}

.solutions__text {
  display: flex;
  flex-direction: row;
  gap: 131px;
  margin-bottom: 64px;
}

.solutions__content h2 {
  max-width: 479px;
  width: 100%;
  font-family: "SF Pro Display";
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
}

.solutions__content p {
  font-family: "SF Pro Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  max-width: 590px;
  width: 100%;
}

.solutions__stats {
  display: flex;
  width: 100%;
  gap: 90px;
}

.stat {
  text-align: left;
  color: rgba(4, 4, 4, 1);
  max-width: 188px;
  width: 100%;
  border-top: 1px solid rgba(4, 4, 4, 1);
}

.stat h3 {
  font-family: "SF Pro Display";
  font-size: 64px;
  font-weight: 500;
  line-height: 83.2px;
  margin-bottom: 12px;
}

.stat span {
  font-family: "SF Pro Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

/* ACTIVITIES */

.activities {
  background: linear-gradient(0deg, #2a4c31, #2a4c31),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  color: white;
  padding: 80px 0;
}

.activities_inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 137px;
}

.actovities_header {
  font-family: "SF Pro Display";
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
  text-align: left;
  max-width: 473px;
  width: 100%;
}

.activities__content {
  max-width: 590px;
  width: 100%;
}

.activities__content_p {
  font-family: "SF Pro Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgba(255, 253, 245, 1);
}

/* BOOKING */

.booking {
  padding: 0 0 150px;
  background-color: #fff;
}

.booking_inner {
  display: flex;
  align-items: center;
  background-color: rgba(42, 76, 49, 1);
  border-radius: 30px;
  overflow: hidden;
}

.booking_image {
  max-width: 545px;
  width: 100%;
  flex: 1;
}

.booking_image img {
  width: 100%;
  height: auto;
}

.booking_content {
  flex: 1;
  max-width: 443px;
  width: 100%;
  padding: 102px 114px 98px 102px;
  color: #fff;
}

.booking_content h2 {
  font-family: "SF Pro Display";
  font-size: 36px;
  font-weight: 500;
  line-height: 46.8px;
  text-align: left;
  margin-bottom: 12px;
}

.booking_content p {
  font-family: "SF Pro Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-bottom: 44px;
}

.booking_form {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(255, 253, 245, 1);
}

.booking_form input {
  flex: 1;
  padding: 0 0 12px;
  font-family: "SF Pro Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  border: none;
  background: transparent;
  color: #fff;
  outline: none;
}

.booking_form button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  transition: color 0.3s;
}

.booking_form button:hover {
  color: rgba(255, 253, 245, 1);
}

/* NEWS */

.news_inner {
  margin-bottom: 191px;
}

.news_header {
  font-family: "SF Pro Displa";
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
  text-align: left;
  margin-bottom: 24px;
}

.news_content {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.news_item {
  position: relative;
  max-width: 387px;
  width: 100%;
  max-height: 299px;
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
}

.news_title {
  position: absolute;
  bottom: 10px;
  font-family: "SF Pro Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #fff;
  padding: 0px 20px 20px;
}

.view_all {
  display: flex;
  align-items: end;
  justify-content: left;
  padding-left: 20px;
  padding-bottom: 25px;
  border: 1px solid #2a4c31;
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: 387px;
  width: 100%;
  height: auto;
  border-radius: 24px;
  gap: 46px;
}

.view_all p {
  font-family: "SF Pro Display";
  font-size: 36px;
  font-weight: 600;
  line-height: 43.2px;
  letter-spacing: -0.24px;
  text-align: left;
  color: linear-gradient(0deg, #2a4c31, #2a4c31),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.view_all_button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2a4c31;
  border-radius: 32px;
  width: 72px;
  height: 48px;
}

.view_all:hover {
  background-color: #2a4c31;
}

.view_all:hover p,
.view_all:hover .view_all_button {
  color: #fff;
}

/* Footer */

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.footer__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  padding: 44px 0 77px;
}

.footer__left {
  max-width: 182px;
  width: 100%;
}

.footer__center {
  max-width: 360px;
  width: 100%;
}

.footer__logo {
  width: 150px;
  height: auto;
}

.footer__socials {
  display: flex;
  gap: 10px;
  margin-top: 32px;
}

.footer__icon {
  width: 24px;
  height: 24px;
}

.footer__info {
  font-family: "SF Pro Display";
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
  margin: 5px 0;
}

.footer__email {
  font-family: "SF Pro Display";
  font-size: 40px;
  font-weight: 600;
  line-height: 47.73px;
  text-align: left;
}

.footer__right {
  max-width: 77px;
  width: 100%;
}

.footer__right p {
  font-family: "SF Pro Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-bottom: 12px;
}

.footer__right p:hover {
  text-decoration: underline;
}
